## Desafio - Semana 3

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset.
O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo "submission.json".

**OBSERVAÇÃO:**  É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

Descrição dos dados:
- 'id': Identificador do cliente
- 'sobrenome': Sobrenome do cliente
- 'pontuacao_credito': Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente)
- 'estado_residencia': Estado de residência do cliente
- 'genero': Gênero do cliente
- 'nivel_estabilidade': Nível de estabilidade do cliente
- 'saldo_conta': Saldo disponível na conta do cliente
- 'numero_produtos': Número de produtos que o cliente consome
- 'possui_cartao_de_credito': Possui um cartão de crédito cadastrado
- 'membro_ativo': Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

In [1]:
#Importar bibliotecas necessarias
import pandas as pd

In [5]:
df = pd.read_csv('desafio1.csv')

In [7]:
df.columns

Index([u'RowNumber', u'id', u'sobrenome', u'pontuacao_credito',
       u'estado_residencia', u'genero', u'idade', u'nivel_estabilidade',
       u'saldo_conta', u'numero_produtos', u'possui_cartao_de_credito',
       u'membro_ativo'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
RowNumber                   7000 non-null int64
id                          7000 non-null object
sobrenome                   7000 non-null object
pontuacao_credito           7000 non-null int64
estado_residencia           7000 non-null object
genero                      7000 non-null object
idade                       7000 non-null int64
nivel_estabilidade          7000 non-null int64
saldo_conta                 7000 non-null float64
numero_produtos             7000 non-null int64
possui_cartao_de_credito    7000 non-null int64
membro_ativo                7000 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.3+ KB

In [13]:
#Detalhamento estatitico do dataset
df.describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,2020.870275,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1750.750000,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3500.500000,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,5250.250000,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [103]:
resposta = pd.DataFrame()
resposta['moda'] = df.groupby(['estado_residencia'])['pontuacao_credito'].agg(pd.Series.mode)
resposta['mediana'] = df.groupby('estado_residencia')['pontuacao_credito'].median()
resposta['media'] = df.groupby('estado_residencia')['pontuacao_credito'].mean()
resposta['desvio_padrao'] = df.groupby('estado_residencia')['pontuacao_credito'].std()
resposta = resposta.sort_values('estado_residencia', ascending=False).transpose()
resposta

estado_residencia          SC          RS          PR
moda               850.000000  850.000000  850.000000
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

In [105]:
resposta.to_json (r'submission.json')

In [ ]:
'''Exemplo saida:

{"SC": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, 
 "RS": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, 
 "PR": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}}'''