# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [299]:
import pandas as pd
import numpy as np

In [300]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [301]:
black_friday.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [302]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape
    pass

In [421]:
print(q1())
type(q1())

(537577, 12)

tuple

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [304]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return black_friday[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')].shape[0]
    pass

In [420]:
print(q2())
type(q2())

49348

int

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [306]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday.User_ID.nunique()
    pass

In [423]:
print(q3())
type(q3())

5891

int

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [308]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.value_counts().size
    pass

In [424]:
print(q4())
type(q4())

3

int

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [330]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return np.float(((black_friday.isna().sum() / black_friday.shape[0]) * 100).max() / 100)
    pass

In [311]:
#Avaliação
exploracao = pd.DataFrame({'nomes' : black_friday.columns, 'tipos' : black_friday.dtypes, 'NA #': black_friday.isna().sum(), 'NA %' : (black_friday.isna().sum() / black_friday.shape[0]) * 100})
exploracao

,NA #,NA %,nomes,tipos
User_ID,0,0.000000,User_ID,int64
Product_ID,0,0.000000,Product_ID,object
Gender,0,0.000000,Gender,object
Age,0,0.000000,Age,object
Occupation,0,0.000000,Occupation,int64
City_Category,0,0.000000,City_Category,object
Stay_In_Current_City_Years,0,0.000000,Stay_In_Current_City_Years,object
Marital_Status,0,0.000000,Marital_Status,int64
Product_Category_1,0,0.000000,Product_Category_1,int64
Product_Category_2,166986,31.062713,Product_Category_2,float64
Product_Category_3,373299,69.441029,Product_Category_3,float64
Purchase,0,0.000000,Purchase,int64

In [425]:
print(q5())
type(q5())

0.694410289131

float

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [343]:
def q6():
    # Retorne aqui o resultado da questão 6.
    exploracao = pd.DataFrame({'nomes' : black_friday.columns, 'tipos' : black_friday.dtypes, 'NA #': black_friday.isna().sum(), 'NA %' : (black_friday.isna().sum() / black_friday.shape[0]) * 100})
    return np.int(exploracao['NA #'].max())
    pass

In [426]:
print(q6())
type(q6())

373299

int

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [262]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return np.float(black_friday.Product_Category_3.mode())
    pass

In [427]:
print(q7())
type(q7())

16.0

float

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [333]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return black_friday.Purchase.mean() / 10000
    pass

In [444]:
black_friday.Purchase.fillna(black_friday.Purchase.mean(), inplace=True)
black_friday['Purchase'].mean()

9333.859852635065

In [428]:
print(q8())
type(q8())

0.933385985264

float

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [408]:
def q9():
    # Retorne aqui o resultado da questão 9.
    return np.int(((black_friday['Purchase'] - black_friday['Purchase'].mean()) / black_friday['Purchase'].std()).between(-1,1).sum())
    pass

In [429]:
print(q9())
type(q9())

348631

int

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [232]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return np.bool(black_friday['Product_Category_2'].isna().count() == black_friday['Product_Category_3'].isna().count())
    pass

In [430]:
print(q10())
type(q10())

True

bool